body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 20px;
  width: 100vw;
}
main{
  width: 30%;
  flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
  width: 100%;
}

label {
  display: none;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
input[type="text"]{
  width: 100%;
}
input[type="number"]{
  width: 50px;
}

.add-produto {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  height: 50px;
  width: 170px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.produto-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.produto-nome {
  font-weight: bold;
  flex: 1;
}

.produto-info {
  display: flex;
  align-items: center;
}

.produto-valor {
  width: 30%;
  text-align: left;
  margin-right: 25px;
  font-size: 1rem;
  font-weight: 600;
}

.quantidade-produto {
  width: 100%;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-remover {
  background-color: #f44336;
  color: #fff;
  border: none;
  width: 60px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

#total {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

#contagem-itens {
  font-weight: bold;
  margin-top: 10px;
}

.conteudo-produto{
  flex-wrap: wrap;
  width: 100%;
}

.produtos-list{
  width: 100%;
}
.box-style{
  width: 45%;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.total{
  margin-right: 1.5%;
  margin-bottom: 5%;
}
.contagem-itens{
  margin-left: 1.5%;
  margin-bottom: 5%;
}
.total h2,
.contagem-itens h2{
  font-size: 1rem;
  color: #999;
}

.total p,
.contagem-itens p{
  font-size: 2.5rem !important;
  color: #413c3c;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 768px) {
}


